<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/biblioteca</property>
        <property name="hibernate.connection.username">biblioteca</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        
        <!-- Mapeo de clases de entidad -->
         <mapping class="Biblioteca.Libro"/> 
         <mapping class="Biblioteca.Lector"/> 
         <mapping class="Biblioteca.Prestamo"/> 

        <!-- Si estás utilizando archivos de mapeo XML en lugar de anotaciones, inclúyelos aquí -->
         <mapping resource="Biblioteca/Libro.hbm.xml"/> 
         <mapping resource="Biblioteca/Lector.hbm.xml"/> 
         <mapping resource="Biblioteca/Prestamo.hbm.xml"/> 

    </session-factory>
</hibernate-configuration>
